* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  max-height: 100vh;
  padding: 5% 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card-content {
  height: 800px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.btn {
  justify-self: center;
}
