.contenido {
	padding: 20px;
	min-height: 100%;
	width: 100%;
	gap: 40px;
	display: grid;
	grid-template-columns: repeat(3, 400px);
	place-content: center;
}

.card {
	margin-bottom: 0 !important;
}

.card-content:hover {
	background: transparent;
	border: 0;
}
